@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: 'Poppins', monospace;
}

.hero-1 {
    background-image: linear-gradient(85deg, rgba(0, 0, 0, 0.75), #659DBD), url(images/busses2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
}


.navigation {
    display: flex;
    justify-content: end;
    align-items: center;

}

.nav-links {
    width: 600px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: end;
}

ul li {
    text-align: center;
}

ul li a {
    width: 150px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-content: center;
}

ul li a:hover {
    background-color: #29bf90ac;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: block;
    width: 150px;
    background: #29bf90ac;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    font-size: 11px;
}

.dropdown li a:hover {
    background: #1f7775;
}

ul li:hover .dropdown {
    display: block;
}

.h11 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.h12 {
    font-size: 50px;
}

/*/////////////////////  Contact us  ////////////////////////*/
.hero-C {
    background-image: linear-gradient(85deg, #659DBD, #1f77766c), url(images/busses.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.outs {
    margin-left: 5px;
}

input,
textarea {
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 10px 20px;
    margin-top: 2px;
    min-width: 250px;
}

::placeholder {
    color: #ffffff8b;
}

.c-button {
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 10px 20px;
    margin-top: 2px;
    min-width: 250px;
}