@import url('https://fonts.cdnfonts.com/css/brown-sugar-2');

* {
    margin: 0;
    padding: 0;
    box-shadow: none;

}

.hero-1 {
    background-image: linear-gradient(85deg, rgba(151, 151, 151, 0.75), #75a3bda2), url(images/busses2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    border-radius: 2px;
    font-family: 'Brown Sugar', sans-serif;
}

#SH-logo {
    height: 45px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
}

.nav-links {
    align-items: center;
    list-style-type: none;
    justify-content: end;
    font-family: 'Brown Sugar', sans-serif;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    border-radius: 2px;
}

.h11 {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}

.h12 {
    font-size: 70px;
}

.navigation {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-between;

}

#menuButton {
    position: absolute;
    right: 0;
    margin: 10px;
    height: 45px;
    display: none;
}

nav {
    width: 700px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

ul li {
    width: 125px;
}

nav ul li a {
    text-align: start;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 300;
}

nav ul li select {
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
    font-size: 40px;
    font-weight: 300;
}

@media only screen and (max-width: 700px) {
    #menuButton {
        display: block;
    }


    nav {
        position: absolute;
        display: flex;
        overflow-y: hidden;
        top: 45px;
        right: 0;
        height: 200px;
        width: 165px;
        background-color: grey;
        border-radius: 7px;
        transition: 0.2s;
    }

    nav ul {
        display: block;
        position: absolute;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    a {
        width: 165px;
    }

}

/*///////////////////about-us*/
.about-us {
    background-color: rgb(36, 36, 36);
}

.about-us h2 {
    color: rgb(175, 175, 16);
    text-align: start;
    font-size: 50px;
}

.about-us p {
    color: lightyellow;
}

/*/////////////////////Socials/////////////////*/
.socials {
    background-color: darkgray;
}

.socials .soc {
    width: 100%;
    display: flex;
}

.socials h4 {
    padding-left: 40px;
    font-size: 25px;
}

#cont {
    position: absolute;
    height: 30px;
    left: 0;
}

.social-group {
    width: 75px;
}

/*/////////////////////  Contact us  ////////////////////////*/
.hero-C {
    background-image: linear-gradient(85deg, #659dbd9a, grey), url(images/busses.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outs {
    margin-left: 50px;
}

input,
textarea {
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 10px 20px;
    margin-top: 2px;
    min-width: 250px;
}

textarea {
    min-height: 100px;
    resize: none;
}

::placeholder {
    color: #ffffff8b;
}

.c-button {
    background: Teal;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 10px 20px;
    margin-top: 2px;
    min-width: 250px;
    width: 290px;
}